body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.auth-card {
  background: rgba(255,255,255,0.12);
  padding: 30px;
  width: 350px;
  border-radius: 16px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.logo {
  width: 70px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  background: #ff9933;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffb366;
}

.switch span {
  color: #ff9933;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* DASHBOARDS */
.dashboard {
  width: 90%;
  max-width: 1100px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 15px;
}

.status {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 12px;
}

.OPEN { background: orange; }
.RESOLVED { background: green; }
.CLOSED { background: gray; }
